/COMP-476-Project/Library
/COMP-476-Project/Logs
/COMP-476-Project/Packages
/COMP-476-Project/Temp
/COMP-476-Project/obj
/COMP-476-Project/*.csproj
/COMP-476-Project/*.sln
/COMP-476-Project/.vs
/.vs
/COMP-476-Project/Assets/Sounds/Raw/
/COMP-476-Project/packages.config

COMP-476-Project/Assets/Sounds/Raw.meta
